<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
    <h1>double pendulum
    </h1>
    <div class="main flex flex-row gap-4">

        <div>
            <canvas id="canvas" width="800" height="600" class="rounded-lg border border-gray-300"></canvas>
        </div>
        <div>
            <h1>Controls</h1>
            <label for="length_rod_1">Length of Rod 1:</label>
            <input type="number" id="length_rod_1" value="1" step="0.1">
            <br>
            <label for="length_rod_2">Length of Rod 2:</label>          
            <input type="number" id="length_rod_2" value="1" step="0.1">
            <br>
            <label for="mass_1">Mass 1:</label>
            <input type="number" id="mass_1" value="1" step="0.1">  
            <br>
            <label for="mass_2">Mass 2:</label>
            <input type="number" id="mass_2" value="1" step="0.1">
            <br>
            <label for="gravity">Gravity:</label>
            <input type="number" id="gravity" value="9.81" step="0.1">
            <br>
            <label for="theta_1">Theta 1:</label>
            <input type="number" id="theta_1" value="1" step="0.1">
            <br>
            <label for="theta_2">Theta 2:</label>
            <input type="number" id="theta_2" value="1" step="0.1">
            <br>
            <button id="upt" class="bg-blue-500 text-white px-4 py-2 rounded mt-2">Update Parameters</button>
        </div>
        <div>
            <button id="reset" onclick="reset()" class="bg-red-500 text-white px-4 py-2 rounded mt-2">Reset</button>
            <button id="start" onclick="start()" class="bg-green-500 text-white px-4 py-2 rounded mt-2">Start Simulation</button>
            <button id="stop" onclick="stop()" class="bg-yellow-500 text-white px-4 py-2 rounded mt-2">Stop Simulation</button>
        </div>
        <div>
            <h2>graphs</h2>
            <canvas id="angle" width="400" height="400" ></canvas>
            <canvas id="velocity" width="400" height="400" ></canvas>
        </div>
        </div>
       <script src="/static/app.js"></script>

</body>
</html>